

@{
    ViewBag.Title = "Index";
}


<link rel="stylesheet" href="~/css/ngo.css" type="text/css" />
<link rel="stylesheet" href="~/css/StyleSheet1.css" type="text/css" />
<link rel="stylesheet" href="~/css/extra.css" type="text/css" />


<div class="form">
    <center>
        <div class="btn btn-warning btn-warning3">
            Z-NGO CCOMPANY HOME
        </div>

        <h2 class="bg-info NGODETAIL">NGO Name: @Model.Name</h2>
        <div class="NgoDetails">
            <h4>Address: @Model.Location</h4>
            <h4>Establishment Date: @Model.EstablishmentDate</h4>
            <h4>Total Employees: @Model.TotalEmployees</h4>
            <h4>Total Completed Requests: @Model.TotalCompletedRequests</h4>
        </div>

        <a href="/NGO/EmployeeList" class="btn btn-success Employee List">All Employee List of Z-NGO</a>
        <a href="/NGO/AddNewEmployee" class="btn btn-success Employee List">Add New Employee To Z-NGO</a>
        <a href="/NGO/AssignTask" class="btn btn-success Employee List">Assign Employee to Collect The Foods</a>
        <br /><br />
        <a href="/Accounts/Logout" class="Exit btn btn-danger index">Logout</a>

    </center>
</div>